<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>成绩查询</title>

    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" th:href="@{/css/metisMenu.min.css}">

    <!-- DataTables CSS -->
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/boot-crm.css}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <![endif]-->

</head>
<style>
    .table tr td{
        border:1px solid white;
        white-space: nowrap;/*控制单行显示*/
        overflow: hidden;/*超出隐藏*/
        text-overflow: ellipsis;/*隐藏的字符用省略号表示   IE*/
        -moz-text-overflow: ellipsis;/*隐藏的字符用省略号表示  火狐*/
    }
</style>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/filter/examManage">考试系统 v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-->
            <!-- /.dropdown -->
            <li class="dropdown"><a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
                <ul class="dropdown-menu dropdown-user">
                     <li><a href="/filter/toChangePW"><i class="fa fa-gear fa-fw"></i> 更换密码</a></li>

                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>
                        退出登录</a></li>
                </ul> <!-- /.dropdown-user --></li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li><a href="/filter/examManage"  >
                        <i class="fa fa-edit fa-fw"></i> 考题管理</a></li>
                    <li><a href="/filter/toList"  >
                        <i class="fa fa-user fa-fw" ></i> 考生管理</a></li>
                    <li><a href="/filter/paperResult"  class="active">
                        <i class="fa fa-user fa-fw" ></i> 考生成绩</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side --> </nav>

    <!-- /#page-wrapper -->
</div>
<!-- 客户编辑对话框 -->
<div id="page-wrapper" style="min-height: 866px;">
   <H1>试卷列表</H1>

    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <table class="table table-hover" style="table-layout:fixed" >
            <THEAD>
            <tr>
                <th>试卷ID</th>
                <th>试卷类型</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>分数</th>
                <th>用户ID</th>
                <th>用户名</th>

                <th>操作</th>

            </tr>
            </THEAD>
            <TBODY align="center">
            <tr th:each = "paper : ${papers}">
                <td th:text="${paper.paperId}" ></td>
                <td th:text="${paper.paperType}" ></td>
                <td th:text="${paper.starttime}" ></td>
                <td th:text="${paper.endtime}" ></td>
                <td th:text="${paper.mark}" ></td>
                <td th:text="${paper.userid}" ></td>
                <td th:text="${paper.userName}" ></td>

                <td width="5%" ><a th:href="${'/filter/toPaperDetail?id='+paper.paperId}" class="btn btn-info btn-xs">详情 </a></td>

            </tr>
            </TBODY>
        </table>
    </div>
    <br/>
    <br/>
    <button class="btn btn-info btn-xs" onclick="download()">下载</button>
    <br/>
    <!--显示分页信息-->
    <div class="modal-footer no-margin-top">
        <div class="col-md-6">
            当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
        </div>

        <ul class="pagination pull-right no-margin">
            <li th:if="${pageInfo.hasPreviousPage}">
                <a th:href="'/filter/paperResult?pageNum=1'">首页</a>
            </li>

            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                <a th:href="'/filter/paperResult?pageNum='+${pageInfo.prePage}">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            </li>
            <!--遍历条数-->
            <li th:each="nav:${pageInfo.navigatepageNums}">
                <a th:href="'/filter/paperResult?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                      th:text="${nav}"></span>
            </li>

            <li class="next" th:if="${pageInfo.hasNextPage}">
                <a th:href="'/filter/paperResult?pageNum='+${pageInfo.nextPage}">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </li>

            <li>
                <a th:href="'/filter/paperResult?pageNum='+${pageInfo.pages}">尾页</a>
            </li>
        </ul>
    </div>
</div>
<!-- /#wrapper -->



</div>



<!-- jQuery -->
<script type="text/exportLink" th:src="@{/js/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" th:src="@{/js/sb-admin-2.js}"></script>
<script type="text/javascript">
    $('#editModal').on('show.bs.modal', function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var content0 = btnThis.closest('tr').find('td').eq(0).text();
        var content1 = btnThis.closest('tr').find('td').eq(1).text();
        var content2 = btnThis.closest('tr').find('td').eq(2).text();
        var content3 = btnThis.closest('tr').find('td').eq(3).text();
        var content4 = btnThis.closest('tr').find('td').eq(4).text();
        var content5 = btnThis.closest('tr').find('td').eq(5).text();
        var content6 = btnThis.closest('tr').find('td').eq(6).text();
        var content7 = btnThis.closest('tr').find('td').eq(7).text();
        var content8 = btnThis.closest('tr').find('td').eq(8).text();
        var content9 = btnThis.closest('tr').find('td').eq(9).text();
        console.log(content0);
        console.log(content1);
        console.log(content2);
        console.log(content3);
        console.log(content4);
        console.log(content5);
        console.log(content6);
        console.log(content7);


        modal.find('.examId').val(content0);
        modal.find('.examType').val(content1);
        modal.find('.isRadio').val(content2);
        modal.find('.examDetail').val(content3);
        modal.find('.choiseA').val(content4);
        modal.find('.choiseB').val(content5);
        modal.find('.choiseC').val(content6);
        modal.find('.choiseD').val(content7);
        modal.find('.answer').val(content8);
        modal.find('.answerDetail').val(content9);


    });


    function deleteEaxm(id) {
        if (confirm('确实要删除该题吗?')) {

            $.ajax({
                url: "/filter/deleteExam",
                type: "POST",
                dataType: "json",
                data: {id: id},//请求参数
                success: function (data) {
                    alert("删除更新成功！");

                    window.location.reload();
                },
                error: function () {

                    alert("删除失败!");
                }
            });
        }
    }

    function addRadioModal() {
        $("#addRadioModalLabel").text("新增");
        $('#addRadioModal').modal();
    }

    function addCheckModal() {
        $("#addCheckModalLabel").text("新增");
        $('#addCheckModal').modal();
    }
</script>
<script type="text/javascript">
    function beforeSubmit(form){
        if(form.answer.value==''){
            alert('答案不能为空！');
            form.answer.focus();
            return false;
        }

        return true;
    }
    function download() {

        window.open("/exportExcel" ,'_self');//进行访问

    }

</script>
</body>

</html>
