<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>客户列表-BootCRM</title>

    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" th:href="@{/css/metisMenu.min.css}">

    <!-- DataTables CSS -->
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/boot-crm.css}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <![endif]-->

</head>
<style>
    .table tr td{
        border:1px solid white;
        white-space: nowrap;/*控制单行显示*/
        overflow: hidden;/*超出隐藏*/
        text-overflow: ellipsis;/*隐藏的字符用省略号表示   IE*/
        -moz-text-overflow: ellipsis;/*隐藏的字符用省略号表示  火狐*/
    }
</style>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">考试系统 v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-->
            <!-- /.dropdown -->
            <li class="dropdown"><a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
                <ul class="dropdown-menu dropdown-user">
                     <li><a href="/filter/toChangePW"><i class="fa fa-gear fa-fw"></i> 更换密码</a></li>

                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>
                        退出登录</a></li>
                </ul> <!-- /.dropdown-user --></li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- /.navbar-static-side --> </nav>

    <!-- /#page-wrapper -->
</div>

<div id="page-wrapper" class="div1">


    <div class="container" >
        <caption>----------------准备考试-----------------</caption><br/>
        <H3>注意:开始考试后即开始计时,期间不能关闭浏览器或刷新考试页面</H3><br/>


        <a  href="/filter/createPaper">开始考试</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a  href="/filter/createPaper">成绩查询</a>


    </div>




</div>



<!-- jQuery -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" th:src="@{/js/sb-admin-2.js}"></script>

<script type="text/javascript">

    $('#editModal').on('show.bs.modal', function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var content0 = btnThis.closest('table').find('td').eq(1).text();//faqAnswer
        var content1 = btnThis.closest('table').find('td').eq(8).text();//faqId
        var content2 = btnThis.closest('table').find('td').eq(5).text();//faqQuestion
        var content3 = btnThis.closest('table').find('td').eq(9).text();//faqType
        console.log(content0);
        console.log(content1);
        console.log(content2);
        console.log(content3);

        modal.find('.faqAnswer').val(content0);
        modal.find('.faqQuestion').val(content2);
        modal.find('.faqId').val(content1);
        modal.find('.faqType').val(content3);
    });


    //

    //

</script>

</body>

</html>
